h1{
    padding:10px !important;
    position: relative;
    display: inline !important;
}

.picture{
    width: 100px;
    height: auto;
    border-radius: 10%;
    display: inline !important;
    

}
/*Jumbotron formatting*/
#hero{
    background-color: rgb(26, 102, 194);
    color: aliceblue;
    padding:10px !important;
    width: 100% !important;
}

/*card formatting */
.accessibility{
    max-height: 300px !important;
    background-size: contain;
    overflow: hidden;
    display: grid;
    grid-area: accessibility;
    
}


.prework{
    max-height: 300px!important;
    display: grid;
    background-size: cover;
    overflow: hidden;
    grid-area: prework;
}

.portfolio{
    max-height: 300px!important;
    display: grid;
    overflow: hidden;
    grid-area: portfolio ;
}

.card{ 
    padding: 10px;
    border: 1px solid rgb(190, 181, 181) !important;
    max-width: 100%;
    


    
}

.card-group{
 
        display:grid;
        padding: 10px 30px;
        justify-items: center;
        max-width: 100% !important;
        overflow: hidden;
       grid-template-areas: 1fr 1fr 1fr;

   

}

.workheading{
    
    padding: 4px;
    line-height: 1;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
}

/*skills formatting*/
.skillsheading{
    padding: 4px;
    line-height: 1;
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
}

.form-check1{
    padding-left: 20px !important;
    color: rgb(0, 0, 0) !important;
}

.skills{
    padding: 30px;
    padding-left: 40px;
}

a:hover{
   box-shadow: 2px 2px rgb(0, 0, 0) !important; 
   color:blue !important;
}

/*footer formatting*/


#contact{
    padding: 0 !important;
    

}
.row{
    width:100% !important;
}